<h1>COODLE HOME PAGE</h1>

<p>Note: after creating new project, remember URL of new project and distribute if needed.</p>

<%= link_to 'New Project', new_path %>



<p>
Find me in app/views/pages/home.html.erb
</p>
