<h1>New project</h1>
<p>Note: after creating new project, save URL of new project, distribute if needed.</p>

<form method="post">
  <div class="field">
    <label for="project_title">Title</label><br />
    <input id="project_title" name="title" size="100" type="text" />
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Create Project" />
  </div>
</form>

<%= link_to 'Back', root_path %>
