
<h1>New expense</h1>

<% action = "/"+ @project.secret + "/" + @person.name + "/expenses" %>

<form accept-charset="UTF-8" action=<%=action%> class="new_expense" id="new_expense" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="zPl7rZ1biip7gQqIrTIj8JymGAqBc5wIG/r5O/BhSeU=" /></div>

  <div class="field">
    <label for="expense_description">Description</label><br />
    <input id="expense_description" name="expense[description]" size="30" type="text" />
  </div>

  <div class="field">
    <label for="expense_amount">Amount</label><br />
    <input id="expense_amount" name="expense[amount]" size="30" type="text" />
  </div>

  <div class="actions">
    <input name="commit" type="submit" value="Create Expense" />
  </div>
</form>

<%= link_to 'Back', root_path + @project.secret + "/" + @person.name %>


